{% extends 'base.html.twig' %}

{% block title %}About {{book.title}}{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10" style="margin-top: 25px;">
            <div class="card">
                <h1 style="text-align: center">{{ book.title }}</h1>
                <div class="card-body">
                    <div class="row">
                        <div class="col-4">
                            {# <img src="{{ asset('build/images/sale.png') }}" class="card-img-top" alt="SALE IMAGE" style="width: 100%"> #}
                        </div>
                        <div class="col-8">
                            <p>{{ book.description}}</p>
                            </br>
                            <h4>Release date : {{ book.releaseDate|date('d/m/Y') }}</h4>
                            </br>
                            <p>Ecrit par {% for author in book.getAuthors() %}
                                    {{ author.firstname }} {{ author.lastname }}
                                {% endfor %}
                            </p>
                        </div>
                    </div>
                    </br>
                    <div class="row">
                        <div class="col-4">
                            <p> Etat : {{ book.status }}</p>
                        </div>
                        <div class="col-4">
                            {% if annonce.updatedAt is defined and annonce.updatedAt is not empty %}
                                    Dernière restitution {{ book.updatedAt|date('d/m/Y H:m')}} 
                            {% else %} 
                                    Dernière restitution {{ book.createdAt|date('d/m/Y H:m')}} 
                            {% endif %}
                        </div>
                        <div class="col-4">
                            {% if is_granted('IS_AUTHENTICATED') 
                                and book.archived == false %}
                                    {% if book.getRents() is defined
                                        and book.getRents() is empty %}
                                        <a href="{{ path('app_book_rent', { id: book.id }) }}" class="btn btn-success">Emprunter</a>
                                    {% elseif book.getRents().getValues()[0].getUser() == app.user %}
                                        <a href="{{ path('app_book_restitute', { id: book.id }) }}" class="btn btn-success">Restituer</a>
                                    {% endif %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('app_book_archived', { id: book.id }) }}"  class="btn btn-danger">Archiver</a>
                                    {% endif %}
                                {% elseif is_granted('IS_AUTHENTICATED') and book.archived == true %}
                                <p><b>Archivé</b></p>
                            {% endif %}
                        </div>
                    </div>   
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>
{% endblock %}